.App {
  width: 60vw;
  height: 96vh;
  margin: 2vh auto;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

.app-heading{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-heading img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

h1{
  animation: flexi 2.5s ease-in-out 3;
  text-align: center;
}

@media screen and (max-width: 600px) {
  
  .App{
    width: 80vw;
  }

}


/* Key Frames for animation named flexi */

@keyframes flexi {
  from{
      transform: scale(1.1);
  }
  6%{
      transform: scale(0.9);
  }
  12%{
      transform: scale(1.05);
  }
  18%{
      transform: scale(0.95);
  }
  24%{
      transform: scale(1.01);
  }
  30%{
      transform: scale(0.99);
  }
  35%{
      transform: scale(1.0);
  }
}
